header{
    height: 64px;
    width: 100%;
    background-color: #020203;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    margin-top: unset;
    margin-bottom: unset;
}

.logo{
    width: 126px;
    height: 45.93px;
    margin-left: 16%;
    margin-top: 11px;
}

nav{
    width: 85%;
}

ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 18px;
    gap: 90px;
}