.Aside{
    height: 104.1vh;
    width: 83px;
    margin-top: -1px;
    background-color: black;
}

.copyright{
    display: inline-block;
    transform: rotate(270deg);
    transform-origin: center;
    bottom: 140px;
    position: absolute;
    color: white;
    font-size: 8px;
    margin-left: -9px;
}