.cointainerMain{
    position: absolute;
    top: 64px;
    left: 83px;
    width: 61.8%;
}

.containerTitle{
    margin-left: 12%;
    margin-top: 33px;
    width: 88%;
}
.containerTitle > h2{
    display: flex;
    align-items: center;
    margin-left: 10p;
    gap: 10px;
}

.containerTitle > h2 > p{
    color: red;
    margin: unset;
}

.containerTitle > h2{
    font-size: 32px;
}

.containerTitle > p{
    margin-top: -11px;
    font-size: 12px;
}

.cointainerSecondary{
    display: flex;
    padding-top: 26px;
    align-items: center;
    gap: 4%;
    margin-left: 12%;
    justify-content: space-evenly;
}