.chartContainerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(251, 251, 251, 1);
  padding: 20px;
  margin-left: 4%;
  margin-top: 24px;
  width: 95%;
}

.barWeight:hover, .barCalories:hover {
  opacity: 0.7;
}

.tooltip {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  display: none;
}
